In [1]:
# red라는 글자와 blue라는 글자를 20개 만들기
# red, blue, red, blue, ....

print(rep(c("red","blue"),20))

 [1] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"
[11] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"
[21] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"
[31] "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue" "red"  "blue"

In [2]:
# 1 3 5 1 2 3 4 5 6 7 8 9 10 1 3 5 7 9 1 2 3 1 2 3 출력하기

print(c(seq(1,5,2),1:10,seq(1,10,2),rep(c(1,2,3),2)))
print(c(1,3,5,1:10,seq(1,10,2),rep(c(1,2,3),2))) # 1,3,5 3개밖에 안되니 그냥 써도 됨

 [1]  1  3  5  1  2  3  4  5  6  7  8  9 10  1  3  5  7  9  1  2  3  1  2  3
 [1]  1  3  5  1  2  3  4  5  6  7  8  9 10  1  3  5  7  9  1  2  3  1  2  3

In [3]:
# iris의 1~5번째 줄의 데이터만 추출해서 변수(데이터프레임) 만들기
head(iris,5) 
# iris[행(row),열(column)]
irishead <- iris[1:5,]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [4]:
#  행과 열을 뒤집는다.

t(irishead)

             1      2      3      4      5
Sepal.Length 5.1    4.9    4.7    4.6    5.0
Sepal.Width  3.5    3.0    3.2    3.1    3.6
Petal.Length 1.4    1.4    1.3    1.5    1.4
Petal.Width  0.2    0.2    0.2    0.2    0.2
Species      setosa setosa setosa setosa setosa

In [5]:
# iris에서 150개 데이터 중 10번부터 10씩 증가하여 15개만 Sampling 하기

iris[(seq(0,150,10)),] # Species의 s -ver -vi 순으로 됨
                       # Feature(특정값 추출)의 1번 값으로 Petal.Length사용
                       # 머신러닝에서 타켓을 맞추기 위한 것
                       # 머신러닝은 사람(분석가)이 개입하여 지정해줌 딥러닝에 비해 데이터 수가 적어도 됨
                       # 딥러닝은 방대한 데이터를 주고, 학습하는 것 (시간이 많이 걸림)/분석가 개입안 함

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
10  4.9          3.1         1.5          0.1         setosa
20  5.1          3.8         1.5          0.3         setosa
30  4.7          3.2         1.6          0.2         setosa
40  5.1          3.4         1.5          0.2         setosa
50  5.0          3.3         1.4          0.2         setosa
60  5.2          2.7         3.9          1.4         versicolor
70  5.6          2.5         3.9          1.1         versicolor
80  5.7          2.6         3.5          1.0         versicolor
90  5.5          2.5         4.0          1.3         versicolor
100 5.7          2.8         4.1          1.3         versicolor
110 7.2          3.6         6.1          2.5         virginica
120 6.0          2.2         5.0          1.5         virginica
130 7.2          3.0         5.8          1.6         virginica
140 6.9          3.1         5.4          2.1         virginica
150 5.9          3.0         5.1          1.8         virginica

In [6]:
length(iris$Sepal.Length)

[1] 150

In [7]:
length(iris) # column 갯수

[1] 5

In [8]:
nrow(iris) # row 수
ncol(iris) # column 수

[1] 150

[1] 5

In [9]:
# irisdml Sepal.Length의 최대값과 최소값의 차이가 평균보다 큰지 확인
s <- iris$Sepal.Length

max(s)
min(s)
mean(s)

max(s)-min(s) > mean(s)

[1] 7.9

[1] 4.3

[1] 5.843333

[1] FALSE

In [10]:
# iris에서 1~10까지의 데이터 중 Sepal.Length와 Sepal.Width만 출력

iris[1:10,1:2]
iris[1:10,c("Sepal.Length","Sepal.Width")] # coulmn의 갯수가 많을 경우 인덱스로 적기 힘드므로 이름으로 기재

   Sepal.Length Sepal.Width
1  5.1          3.5
2  4.9          3.0
3  4.7          3.2
4  4.6          3.1
5  5.0          3.6
6  5.4          3.9
7  4.6          3.4
8  5.0          3.4
9  4.4          2.9
10 4.9          3.1

   Sepal.Length Sepal.Width
1  5.1          3.5
2  4.9          3.0
3  4.7          3.2
4  4.6          3.1
5  5.0          3.6
6  5.4          3.9
7  4.6          3.4
8  5.0          3.4
9  4.4          2.9
10 4.9          3.1

In [11]:
print(head(iris))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa
6          5.4         3.9          1.7         0.4  setosa

In [12]:
print(tail(iris))

    Sepal.Length Sepal.Width Petal.Length Petal.Width   Species
145          6.7         3.3          5.7         2.5 virginica
146          6.7         3.0          5.2         2.3 virginica
147          6.3         2.5          5.0         1.9 virginica
148          6.5         3.0          5.2         2.0 virginica
149          6.2         3.4          5.4         2.3 virginica
150          5.9         3.0          5.1         1.8 virginica

In [13]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [14]:
summary(iris) # 데이터는 정규분포를 이뤄야 분석을 할 수 있음 중앙값과 평균의 차이가 큰지/최대.최소차이로 판단
              # 해당 내용을 참고하여 정규화를 함

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [15]:
# factor Type인 Species에서 문자와 숫자로 각각 가져오기

print(as.character(iris$Species))
print(as.numeric(iris$Species))
# 군집화 <--- 비지도 학습(groupping을 통해 학습)  <----> 지도학습(문제와 답을 가지고 학습)

  [1] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
  [6] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [11] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [16] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [21] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [26] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [31] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [36] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [41] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [46] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [51] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [56] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [61] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [66] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [71] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [76] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [81] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [86] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [91] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [96] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
[101] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[106] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[111] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[116] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[121] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[126] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[131] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[136] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[141] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[146] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
  [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [38] 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 [75] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3
[112] 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
[149] 3 3

---
# 벡터 계산

In [16]:
x <- c(3,6,9,12,15)
print (x+1) # 동일한 크기만큼 더해지는 것이므로 상관없음

[1]  4  7 10 13 16

In [17]:
print(x + 1:5)

[1]  4  8 12 16 20

In [18]:
print(x + 1:2) # 계산하려는 두 벡터의 길이가 동일해야 원하는 결과를 얻을 수 있음 (배수관계(=두 벡터의 길이 동일X))

Warning message in x + 1:2:
“두 객체의 길이가 서로 배수관계에 있지 않습니다”

[1]  4  8 10 14 16

In [19]:
x <- c(3,5,6,12,15)
y <- 1:5
append(x,y)

 [1]  3  5  6 12 15  1  2  3  4  5

In [20]:
length(append(iris$Sepal.Length,iris$Sepal.Width))

[1] 300

In [21]:
length(c(iris$Sepal.Length,iris$Sepal.Width))

[1] 300

In [22]:
# iris의 Sepal.Length의 중복되지 않은 갯수의 percent 구하기

length(unique(iris$Sepal.Length))
length(iris$Sepal.Length)

paste(round(((length(unique(iris$Sepal.Length)))/length(iris$Sepal.Length))*100,2),"%")
# iris의 Sepal.Length의 중복된 갯수의 percent 구하기

paste(round(((length(iris$Sepal.Length)-length(unique(iris$Sepal.Length)))
/ length(iris$Sepal.Length))*100,2),"%")

[1] 35

[1] 150

[1] "23.33 %"

[1] "76.67 %"

---
# 문자열 관련 함수

In [23]:
x <- c('a','b','c','d','e')
print(x)
print(x[1:2])

# 문자열 합치기(한칸 띄우고 합침)
# paste 출력용이 아니라 기존의 벡터들을 하나로 합쳐서 새로운 벡터로 만들어주는 것
paste(x[1], x[2])

[1] "a" "b" "c" "d" "e"
[1] "a" "b"

[1] "a b"

In [24]:
paste("Hello", "World")

[1] "Hello World"

In [25]:
# iris의 1, 51, 101번의 Species만 한꺼번에 출력하기

paste(iris$Species[1]," : ",iris$Species[51]," : ",iris$Species[101])

[1] "setosa  :  versicolor  :  virginica"

In [26]:
# 문자열 출력

cat("Hello" ,"\n", "World!")

Hello
 World!

In [27]:
cat("Hello\nWorld!")

Hello
World!

In [28]:
cat("90\t80\t70")

90	80	70

In [29]:
paste("010","1111","2222",sep="-")
paste("010","1111","2222",sep="")

[1] "010-1111-2222"

[1] "01011112222"

# 문자열 추출하기

In [30]:
str01 <- "abcdefghijklmn"
substring(str01,2,5)
str02 <- "가나다라마바사"
substring(str02,2,5)

[1] "bcde"

[1] "나다라마"

In [31]:
# Ex : 출력되는 x중 4와 7 사이에 있는 것은 몇개 인가?
set.seed(123) # 난수 정해줌
x <- runif(5,1,20) # 1~20까지 5개의 데이터 나옴
print(x)

sum(x >= 4 & x <= 7 ) # x에서 4와7사이에 존재하는 수의 개수 구하기

[1]  6.463973 15.977798  8.770562 17.777331 18.868878

[1] 1

# 행렬(Matrix)

In [32]:
# 행렬 : 2차원 자료를 저장하는 자료형
# 행렬은 데이터 형태가 모두 일치 되어야 구성

# Vector로 행렬 만들기
vec1 <- c(1,2,3)
vec2 <- c(4,5,6)
vec3 <- c(7,8,9)

In [33]:
# 행으로 붙이기 : rbind(row binding) => 새로운 데이터 추가
rbind(vec1,vec2,vec3)
mat1 <- rbind(vec1,vec2,vec3)

     [,1] [,2] [,3]
vec1 1    2    3
vec2 4    5    6
vec3 7    8    9

In [34]:
# 열로 붙이기 : cbind(column binding) => 새로운 열 추가
cbind(vec1,vec2,vec3)
mat2 <- cbind(vec1,vec2,vec3)

     vec1 vec2 vec3
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [35]:
# iris의 1~5번 데이터만 추출하여 irisHead라는 변수에 넣기

irisHead <- head(iris,5)
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [36]:
# irisHead에 새로운 데이터 1,1,1,1,setosa 추가하기

irisHead <- rbind(irisHead,c(1,1,1,1,'setosa'))

In [37]:
# irisHead에 abc라는 컬럼과 2,2,2,2,2,2의 데이터 추가하기

irisHead <- cbind(irisHead, abc=rep(2,6))

In [38]:
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species abc
1 5.1          3.5         1.4          0.2         setosa  2
2 4.9          3           1.4          0.2         setosa  2
3 4.7          3.2         1.3          0.2         setosa  2
4 4.6          3.1         1.5          0.2         setosa  2
5 5            3.6         1.4          0.2         setosa  2
6 1            1           1            1           setosa  2

In [39]:
# iris의 1~5번 데이터만 추출하며 irisHead라는 데이터셋 만들기

irisHead = iris[1:5,]
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [40]:
# irisHead에 Length(.Length의 합)라는 컬럼 추가하기
# irisHead <- cbind(irisHead,Length=c(irisHead$Sepal.Length + irisHead$Petal.Length))
irisHead$Length <- irisHead$Sepal.Length + irisHead$Petal.Length

In [41]:
# Matrix와 Dataframe의 차이점
# Dataframe은 데이터의 타입에 상관없이 추가할 수 있음 
# cbind로 할 경우 실행횟수만큼 열 추가되어 중복데이터 발생 -> 따로 열 이름을 정해주고 하는 게 나음

In [42]:
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species Length
1 5.1          3.5         1.4          0.2         setosa  6.5
2 4.9          3.0         1.4          0.2         setosa  6.3
3 4.7          3.2         1.3          0.2         setosa  6.0
4 4.6          3.1         1.5          0.2         setosa  6.1
5 5.0          3.6         1.4          0.2         setosa  6.4

In [43]:
# iris에서 Sepal.Length와 Sepal.Width만 추출하여 irisM이라는 데이터프레임 만들기
sl <- iris$Sepal.Length
sw <- iris$Sepal.Width

irisM <-cbind(sl,sw)
head(irisM)

     sl  sw
[1,] 5.1 3.5
[2,] 4.9 3.0
[3,] 4.7 3.2
[4,] 4.6 3.1
[5,] 5.0 3.6
[6,] 5.4 3.9

In [44]:
class(irisM)
irisM <- as.data.frame(irisM)
class(irisM)

[1] "matrix"

[1] "data.frame"

In [45]:
# mat1의 컬럼 이름 추가

mat1
colnames(mat1) <- c("A","B","C")
mat1

     [,1] [,2] [,3]
vec1 1    2    3
vec2 4    5    6
vec3 7    8    9

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

In [46]:
mat1D <- as.data.frame(mat1)
class(mat1D) # vector로 cbind, rbind하면 모두 matrix => dataframe으로 나오게 하려면 포맷을 해야함

[1] "data.frame"

In [47]:
# mat2에 로우이름 추가

mat2
rownames(mat2) <- 1:3
print(mat2)
mat2D <- as.data.frame(mat2)
class(mat2D)

     vec1 vec2 vec3
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

  vec1 vec2 vec3
1    1    4    7
2    2    5    8
3    3    6    9

[1] "data.frame"

In [48]:
# mat1D와 mat2D를 하나의 DataSet으로 만들기
print(mat1D)
print(mat2D)
colnames(mat2D) <- colnames(mat1D)
rbind(mat1D,mat2D)

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9
  vec1 vec2 vec3
1    1    4    7
2    2    5    8
3    3    6    9

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9
1    1 4 7
2    2 5 8
3    3 6 9

---
# DataFrame
- 다양한 자료형으로 구성된 2차원 형태의 데이터 구조

In [49]:
# 벡터로 데이터 프레임 만들기

no <- 1:4
name <- c('Apple','Banana','Peach','Berry')
price <- c(500,400,300,200)
qty <- c(5,2,7,9)

In [50]:
fruit <- data.frame(번호=no,상품명=name,금액=price,재고량=qty,stringsAsFactors=F)
fruit

  번호 상품명 금액 재고량
1 1    Apple  500  5
2 2    Banana 400  2
3 3    Peach  300  7
4 4    Berry  200  9

In [51]:
str(fruit) # 상품명을 굳이 factor로 사용하지 않는 경우, stringsAsFactors=F 추가하면 됨 
           # 숫자나 글자 둘다 factor로 가능하지만 굳이 필요없는데 사용하면 메모리 차지만 많이 하게 됨.

'data.frame':	4 obs. of  4 variables:
 $ 번호  : int  1 2 3 4
 $ 상품명: chr  "Apple" "Banana" "Peach" "Berry"
 $ 금액  : num  500 400 300 200
 $ 재고량: num  5 2 7 9

In [52]:
summary(fruit)

      번호         상품명               금액         재고량
 Min.   :1.00   Length:4           Min.   :200   Min.   :2.00
 1st Qu.:1.75   Class :character   1st Qu.:275   1st Qu.:4.25
 Median :2.50   Mode  :character   Median :350   Median :6.00
 Mean   :2.50                      Mean   :350   Mean   :5.75
 3rd Qu.:3.25                      3rd Qu.:425   3rd Qu.:7.50
 Max.   :4.00                      Max.   :500   Max.   :9.00

---

In [55]:
x <- 1:5
y <- seq(2,10,2)
z <- c("a","b","c","d","e")

df <- data.frame(x,y,z)

In [57]:
df

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

In [64]:
# 출력 : x컬럼의 합계는 15이고 y컬럼의 합계는 30입니다.

cat("x컬럼의 합계는",sum(df$x),"이고,","y컬럼의 합계는",sum(df$y),"입니다")

x컬럼의 합계는 15 이고, y컬럼의 합계는 30 입니다

### 함수를 부르는 함수

In [70]:
# 예) x컬럼의 1과 y컬럼의 2를 더해 새로운 컬럼으로 생성하고 싶을 때 sum()에게 그 방향을 알려주는 것

# 데이터 프레임에 함수 적용 (열방향) : apply(df[행범위,열범위],계산방향(1(행방향),2(열방향)),계산할함수)
apply(df[,1:2],2,sum)
apply(df[,1:2],2,mean)
apply(df[,1:2],2,sd)

 x  y
15 30

x y
3 6

       x        y
1.581139 3.162278

In [74]:
# 데이터 프레임에 함수 적용(행방향) : apply(df[행범위,열범위],계산방향(1(행방향),2(열방향)),계산할함수)
apply(df[,1:2],1,sum)
apply(df[,1:2],1,mean)
apply(df[,1:2],1,sd)

[1]  3  6  9 12 15

[1] 1.5 3.0 4.5 6.0 7.5

[1] 0.7071068 1.4142136 2.1213203 2.8284271 3.5355339

In [72]:
df

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

In [75]:
# df에 Hap이라는 컬럼을 만들어서 행방향의 합계 구하기

df$Hap <- apply(df[,1:2],1,sum)
df

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

In [78]:
# 부분집합

df
subset(df,x>=3) # x가 3이상인것만 보겠다
subset(df,x>=3 & y>=8)

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

  x y  z Hap
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

  x y  z Hap
4 4  8 d 12
5 5 10 e 15

In [92]:
# 4번 행과 5번 행의 x컬럼과 y컬럼의 합계 구하기
subset(df,x>=3 & y>=8)
apply(subset(df,x>=3 & y>=8)[,1:2],2,sum)

  x y  z Hap
4 4  8 d 12
5 5 10 e 15

 x  y
 9 18