### for문

In [1]:
# 1~10까지의 숫자출력

for(i in 1:10){
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [2]:
for(i in c(1,3,5)){
    print(i)
}

[1] 1
[1] 3
[1] 5

In [3]:
for(i in seq(1,10,2)){
    print(i)
}

[1] 1
[1] 3
[1] 5
[1] 7
[1] 9

In [4]:
# 1~10까지의 제곱근 후가기

print(sqrt(1))
print(sqrt(2))
print(sqrt(3))

[1] 1
[1] 1.414214
[1] 1.732051

In [5]:
for(i in 1:10){
    print(sqrt(i))
}

[1] 1
[1] 1.414214
[1] 1.732051
[1] 2
[1] 2.236068
[1] 2.44949
[1] 2.645751
[1] 2.828427
[1] 3
[1] 3.162278

In [6]:
for(i in 1:10){
    cat(i, "=>",paste(sqrt(i)),"\n")
}

1 => 1
2 => 1.4142135623731
3 => 1.73205080756888
4 => 2
5 => 2.23606797749979
6 => 2.44948974278318
7 => 2.64575131106459
8 => 2.82842712474619
9 => 3
10 => 3.16227766016838

In [7]:
# excel에서 q3 컬럼 데이터의 홀수의 합과 짝수의 합 구하기

excel <- read.csv("./Data/excel.csv")
# 홀수의 합은 604이고 짝수의 합은 852입니다.

sumEven <- 0; sumOdd <- 0

for(i in excel$q3){
   if(i %% 2 == 0){
       sumEven= sumEven + i
   }else{
       sumOdd = sumOdd + i
   }
}
cat("홀수의 합은",sumOdd,"이고 짝수의 합은",sumEven,"입니다.")

홀수의 합은 604 이고 짝수의 합은 852 입니다.

In [8]:
# excel에서 q3 컬럼 데이터 중 3의배수의 합계 구하기

sum = 0

for(i in excel$q3){
    if(i %% 3 == 0){
        sum = sum+i
    }
}
cat("3의 배수의 합은",sum,"입니다.")

3의 배수의 합은 216 입니다.

In [9]:
# excel에서 q3 컬럼 데이터중 3의 배수도 되고, 4의 배수도 되는 수의 합계를 구하시오.

sum1 =0

for(i in excel$q3){
    if((i %% 3 == 0) & (i %% 4 ==0)){
        sum1 = sum1 + i
    }
}
cat("3의 배수도 되고, 4의 배수도 되는 수들의 합은",sum1,"입니다.")

3의 배수도 되고, 4의 배수도 되는 수들의 합은 0 입니다.

In [10]:
# 구구단 2단 출력하기

for(i in 2){
    for(j in 1:9){
        cat(i," X ",j," = ",(i*j),"\n")
    }
}

2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18

In [11]:
# 사용자로부터 몇 단을 출력할지 단수를 입력받아 구구단 출력하기

dan <- as.integer(readline("단을 입력하세요! "))
for(i in 1:9){
    cat(dan," X ",i," = ",(dan*i),"\n")
}

단을 입력하세요! 5
5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45

In [12]:
# 구구단 함수 만들기 - 1

gugu <- function(){
    dan <- as.integer(readline("단을 입력하세요! "))
    for(i in 1:9){
    cat(dan," X ",i," = ",(dan*i),"\n")
    }
}

In [13]:
gugu()

단을 입력하세요! 5
5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45

In [14]:
# 구구단 함수 만들기 - 2

gugu <- function(x){
    for(i in 1:9){
        cat(x,"X",i,"=",(x*i),"\n")
    }
}

In [15]:
gugu(5)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [16]:
# 구구단 함수 만들기 - 3

gugu <- function(x,y){
    for(i in 1:y){
        cat(x,"X",i,"=",x*i,"\n")
    }
}

In [17]:
gugu(2,12)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24

In [18]:
# 구구단 전체 출력하기

for(i in 2:9){
    for(j in 1:9){
        cat(i," X ",j," = ",i*j,"\n")
    }
    cat("---------------------\n")
}

2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
---------------------
3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27
---------------------
4  X  1  =  4
4  X  2  =  8
4  X  3  =  12
4  X  4  =  16
4  X  5  =  20
4  X  6  =  24
4  X  7  =  28
4  X  8  =  32
4  X  9  =  36
---------------------
5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
---------------------
6  X  1  =  6
6  X  2  =  12
6  X  3  =  18
6  X  4  =  24
6  X  5  =  30
6  X  6  =  36
6  X  7  =  42
6  X  8  =  48
6  X  9  =  54
---------------------
7  X  1  =  7
7  X  2  =  14
7  X  3  =  21
7  X  4  =  28
7  X  5  =  35
7  X  6  =  42
7  X  7  =  49
7  X  8  =  56
7  X  9  =  63
---------------------
8  X  1  =  8
8  X  2  =  16
8  X  3  =  24
8  X  4  =  32
8  X  5  =  40
8  X  6  =  48
8  X  7  =  56
8  X  8  =  64
8  X  9  =  72
---------------------
9  X  1  =  9
9  X  2  =  18
9  X  3  =  27
9  X  4  =  36
9  X  5  =  45
9  X  6  =  54
9  X  7  =  63
9  X  8  =  72
9  X  9  =  81
---------------------

In [19]:
# 구구단 전체 중 짝수데이터로 나온 결과만 출력하기

for(i in seq(2,9,2)){
    for(j in seq(2,9,2)){
            cat(i," X ",j," = ",i*j,"\n")
    }
    cat("---------------------\n")
}

2  X  2  =  4
2  X  4  =  8
2  X  6  =  12
2  X  8  =  16
---------------------
4  X  2  =  8
4  X  4  =  16
4  X  6  =  24
4  X  8  =  32
---------------------
6  X  2  =  12
6  X  4  =  24
6  X  6  =  36
6  X  8  =  48
---------------------
8  X  2  =  16
8  X  4  =  32
8  X  6  =  48
8  X  8  =  64
---------------------

In [28]:
# 2개의 벡터 자료를 함께 출력하기

score <- c(85,95,89)
name <- c("유비","관우","장비")

a <- paste(name,":",score)

for(i in 1:3){
    cat(a[i],"\n")
}

유비 : 85
관우 : 95
장비 : 89

In [21]:
# 2개의 벡터 자료를 함께 출력하기

score <- c(85,95,89)
name <- c("유비","관우","장비")

j <- 1
for(i in score){
  cat(name[j],":",i,"\n")
  j = j+1
}

유비 : 85
관우 : 95
장비 : 89

In [22]:
cat(paste(name,":",score,"\n"),sep="")

유비 : 85
관우 : 95
장비 : 89

# while

In [23]:
i <- 0
while(i<10){
    i=i+1
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

### repeat

In [24]:
i <- 0
repeat{
    i= i + 1
    if(i > 10){
        break
    }
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10