# 기술 통계량을 계산하는 함수 정의

In [1]:
test <- read.csv("./Data/test.csv")
head(test)

  A B C D E
1 2 4 4 2 2
2 1 2 2 2 2
3 2 3 4 3 3
4 3 5 5 3 3
5 3 2 4 4 4
6 4 3 3 4 2

In [2]:
tail(test)

    A B C D E
397 2 3 5 2 4
398 4 3 3 2 4
399 2 4 4 2 3
400 2 2 5 2 4
401 2 3 4 2 4
402 2 2 4 2 4

In [3]:
str(test)

'data.frame':	402 obs. of  5 variables:
 $ A: int  2 1 2 3 3 4 3 4 4 4 ...
 $ B: int  4 2 3 5 2 3 4 2 4 2 ...
 $ C: int  4 2 4 5 4 3 4 4 5 4 ...
 $ D: int  2 2 3 3 4 4 2 4 3 2 ...
 $ E: int  2 2 3 3 4 2 2 4 4 3 ...

In [4]:
summary(test)

       A               B               C               D              E
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00   Min.   :1.000
 1st Qu.:2.000   1st Qu.:2.000   1st Qu.:3.000   1st Qu.:2.00   1st Qu.:3.000
 Median :3.000   Median :3.000   Median :4.000   Median :2.00   Median :4.000
 Mean   :2.734   Mean   :2.908   Mean   :3.622   Mean   :2.51   Mean   :3.386
 3rd Qu.:3.000   3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:3.00   3rd Qu.:4.000
 Max.   :5.000   Max.   :5.000   Max.   :5.000   Max.   :4.00   Max.   :5.000

In [5]:
# A 컬럼의 최대값, 최소값, 빈도수 구하기

max(test$A)
min(test$A)
print(table(test$A))

[1] 5

[1] 1

  1   2   3   4   5
 30 133 156  80   3

In [6]:
# 각 컬럼의 빈도수 구하기

for(i in 1:ncol(test)){
    cat(colnames(test)[i],"컬럼의 빈도 분석결과\n")
    print(table(test[,i]))
    cat("--------------------\n")
}

A 컬럼의 빈도 분석결과

  1   2   3   4   5
 30 133 156  80   3
--------------------
B 컬럼의 빈도 분석결과

  1   2   3   4   5
 16 150  98 131   7
--------------------
C 컬럼의 빈도 분석결과

  1   2   3   4   5
  3  74  72 176  77
--------------------
D 컬럼의 빈도 분석결과

  1   2   3   4
 30 178 153  41
--------------------
E 컬럼의 빈도 분석결과

  1   2   3   4   5
  8  81 107 160  46
--------------------

In [7]:
# 각 컬럼 빈도수의 최대값 최소값 구하기

for(i in 1:ncol(test)){
    cat(colnames(test)[i],"번째 컬럼 빈도수의 최대값과 최소값\n")
    cat("최대값:",max(table(test[,i])),"최소값:",min(table(test[,i])),"\n")
    cat("--------------------------\n")
}

A 번째 컬럼 빈도수의 최대값과 최소값
최대값: 156 최소값: 3
--------------------------
B 번째 컬럼 빈도수의 최대값과 최소값
최대값: 150 최소값: 7
--------------------------
C 번째 컬럼 빈도수의 최대값과 최소값
최대값: 176 최소값: 3
--------------------------
D 번째 컬럼 빈도수의 최대값과 최소값
최대값: 178 최소값: 30
--------------------------
E 번째 컬럼 빈도수의 최대값과 최소값
최대값: 160 최소값: 8
--------------------------

In [8]:
for(i in 1:ncol(test)){
    cat(colnames(test)[i],"번째 컬럼 빈도수의 최대값과 최소값\n")
    f <- table(test[,i])
    cat("최대값:",max(f),"최소값:",min(f),"\n")
    cat("--------------------------\n")
}

A 번째 컬럼 빈도수의 최대값과 최소값
최대값: 156 최소값: 3
--------------------------
B 번째 컬럼 빈도수의 최대값과 최소값
최대값: 150 최소값: 7
--------------------------
C 번째 컬럼 빈도수의 최대값과 최소값
최대값: 176 최소값: 3
--------------------------
D 번째 컬럼 빈도수의 최대값과 최소값
최대값: 178 최소값: 30
--------------------------
E 번째 컬럼 빈도수의 최대값과 최소값
최대값: 160 최소값: 8
--------------------------

In [9]:
# 각 컬럼의 빈도수 구하기와 각 컬럼의 빈도수의 최대값, 최소값 구하는 함수만들기

tableMaxMin <- function(x){
    for(i in 1:ncol(x)){
    cat(colnames(x)[i],"컬럼의 빈도 분석결과\n")
    print(table(x[,i]))
    cat("--------------------\n")
    cat(colnames(x)[i],"번째 컬럼 빈도수의 최대값과 최소값\n")
    f <- table(x[,i])
    cat("최대값:",max(f),"최소값:",min(f),"\n")
    cat("=====================\n")
    }
}

In [10]:
tableMaxMin(test)

A 컬럼의 빈도 분석결과

  1   2   3   4   5
 30 133 156  80   3
--------------------
A 번째 컬럼 빈도수의 최대값과 최소값
최대값: 156 최소값: 3
=====================
B 컬럼의 빈도 분석결과

  1   2   3   4   5
 16 150  98 131   7
--------------------
B 번째 컬럼 빈도수의 최대값과 최소값
최대값: 150 최소값: 7
=====================
C 컬럼의 빈도 분석결과

  1   2   3   4   5
  3  74  72 176  77
--------------------
C 번째 컬럼 빈도수의 최대값과 최소값
최대값: 176 최소값: 3
=====================
D 컬럼의 빈도 분석결과

  1   2   3   4
 30 178 153  41
--------------------
D 번째 컬럼 빈도수의 최대값과 최소값
최대값: 178 최소값: 30
=====================
E 컬럼의 빈도 분석결과

  1   2   3   4   5
  8  81 107 160  46
--------------------
E 번째 컬럼 빈도수의 최대값과 최소값
최대값: 160 최소값: 8
=====================

---
# 결측치(missing value) 자료 평균 계산

In [11]:
data <- c(10,20,5,4,40,7,NA,6,3,NA,2,NA)
data

 [1] 10 20  5  4 40  7 NA  6  3 NA  2 NA

In [12]:
mean(data)

[1] NA

In [13]:
# NA 갯수 구하기

is.na(data) # NA인지 아닌지 true false 출력 NA = true , other = false
sum(is.na(data)) # NA개수 출력

table(is.na(data)) # False True 각각 갯수 출력

 [1] FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE  TRUE

[1] 3

FALSE  TRUE
    9     3

In [14]:
# NA를 제외하고 평균 구하자
# 결측치를 무조건 제거하면 통계량을 얻을 수 없으며, 데이터의 손실로 문제 발생

mean(data,na.rm=T)

[1] 10.77778

In [20]:
library(stringr)

In [33]:
# 1) NA를 0으로 대체해서 평균값 구하기

# sol (1)
a <- replace(data,c(7,10,12),0)
mean(a)

# sol (2)
mean(ifelse(is.na(data),0,data))

# sol (3)
mean(as.integer(str_replace_na(data,replacement = 0)))

[1] 8.083333

[1] 8.083333

[1] 8.083333

In [35]:
# 2)NA를 평균으로 대체해서 평균값 구하기

mean(ifelse(is.na(data),mean(data,na.rm=T),data))

[1] 10.77778

In [37]:
# 3) NA를 중앙값으로 대체해서 평균값 구하기

mean(ifelse(is.na(data),median(data,na.rm=T),data))

[1] 9.583333

In [39]:
# 4) NA를 최대값으로 대체해서 평균값 구하기

mean(ifelse(is.na(data),max(data,na.rm=T),data))

[1] 18.08333

In [41]:
# 5) NA를 최솟값으로 대체해서 평균값 구하기

mean(ifelse(is.na(data),min(data,na.rm=T),data))

[1] 8.583333

 >결측치를 제외한 평균 : 10.7777777777778      
 >0으로 대체 : 8.08333333333333     
 >평균으로 대체 : 10.7777777777778    
 >중앙값으로 대체 : 9.58333333333333    
 >최대값으로 대체 : 18.0833333333333    
 >최솟값으로 대체 : 8.58333333333333     
 
 >결론 : NA없을 때 계산된 평균과 근사한 중앙값으로 평균값을 구하는 게 좋다 (단, 정규분포인 경우)    
        또, 평균으로 대체하여 구한 것 의미가 없으므로 평균으로 대체하지 않는다